.container{
  background-color: #dcf5f3;  
  padding-top:2%;
}
.navbar-brand {
margin-right: 36rem;
margin-left: 1.5rem;
font-size: 2.25rem;

}
.btn-group
{
    margin: 25% 0%;
}

.btn-group-vertical
{
    padding-top: 5%;
}

.btn{
height: 150%

}
.btn-secondary {
  color: #000;
  background-color: #f8f9fa;
  border-color: #6c757d;
}

.dropdown-item
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcf5f3;
  
}
.dropdown-menu.show {
  display: flex;
}
/*menu*/
.menu
{
flex:display;
}


/*footer*/
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
 }
 
 
 .logo_footer
 {display: flex;
   justify-content: center 
    }
  .logo_footer img
 {margin-left:2%;
 border-radius:6px;
 width: 4%;
 height: 4%;
  
    }
  .footer span
 {
  margin: 2%;
  font-size: 120%; 
    }
  .dropdown-item img
  {
border-radius: 8px;
  }
 

