.container{
    background-color: #dcf5f3;  
    padding-top:2%;
  
  }
  .retour{
    border-radius: 8px!important;
    width: 31%;
    margin-left: 8%;
   
}

.mot_coord{
    background-color: #f8f9fa;
    padding: 4%;
    margin-right: 15%;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius:15px 50px;
    text-align: center;
}
.header
{
   display: flex;
   justify-content: space-around ;
   align-items: center;
   
}
.header img
{
  border-radius: 15px 50px;
    margin-right: 2%;
}
.devis{
    display: flex;  
   
   
   
}

.coord{
    display: flex;
    justify-content: space-around ;
    flex-direction: column;
}
  
.coord_details
{
    background-color: #f8f9fa;
    padding: 2%;
    margin: 2%;
    font-size: 165%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 45%;
    border-radius: 15px 40px;
}
.travaux
{
   display: flex;
   justify-content: space-around ;
   background-color: #f8f9fa;
   padding: 2%;
   margin: 2%;
   border-radius:15px 50px;
   
}
.footer{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center
}
.logo_footer
{display: flex;
  justify-content: center 
   }
 .logo_footer img
{margin-left:2%;
border-radius:6px;
width: 4%;
height: 4%;
 
   }


 .footer span
{
    margin: 2%;
    font-size: 120%; 

   }
   .travaux img{
    border-radius: 10px;
  }
  


